html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Шапка */
@font-face {
  font-family: Brygada_1918;
  src: url("../fonts/Brygada_1918/static/Brygada1918-Bold.ttf");
}

#header{
  height: 200px;
  width: 100%;
}

.logo-and-title{
  display: inline;
}

.title{
  color: #6495ed;
  font: 30px Brygada_1918, serif;
  margin: 0.67em 0;
  padding-top: 50px;
}

.logo{
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
}

.pages{
  margin-top: 60px;
}

.page{
  display: inline;
}

.page a{
  color: #6495ed;
  font: italic 20px Montserrat, sans-serif;
  margin-right: 50px;
  text-decoration:none;
  width: 50px;
}

.page a:hover{
  color: darkblue;
}
/* Окончание шапки */


body{
  background: linear-gradient(to bottom, white, #6495ed);
  margin: 20px;
}

.info{
  display: flex;
  margin-top: 30px;
}


/* Опыт */
.img{
  margin-left: auto;
}

.info-exp{
  background: seashell;
  border: outset thick aliceblue;
  height: 230px;
  margin: 10px 10px 0 0;
  padding: 10px;
  position: relative;
  right: -310px;
  text-align: justify;
  top: 40px;
  width: 30%;
}


/* Заголовки */
.second-title {
  font-style: oblique;
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}


/* О путешествиях */
.info-jour{
  background: seashell;
  border: inset thick aliceblue;
  height: 230px;
  left: -60px;
  margin: 10px 0 0 10px;
  padding: 10px;
  position: relative;
  text-align: justify;
  top: 60px;
  width: 30%;
}


.text{
  font-size: 16px;
  margin: 0;
}


/* Цитата */
.quote{
  font: large italic;
  margin: 60px 0 60px 0;
  text-align: center;
}


/* Подвал */
.footer-menu{
  margin-top: 20px;
  padding: 1em 0;
}

.footer-container{
  align-items: center;
  display: inline;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.footer-menu ul li{
  display:inline;
}

.footer-menu ul li a{
  color:azure;
  font-size:20px;
  margin-left:20px;
  text-decoration:none;
}

.footer-menu ul li a:hover{
  color:darkblue;
}

.cont{
  color: azure;
}

.social-net{
  align-items: center;
  display: flex;
  justify-content: center;
}

.social-icon:hover{
  bottom: 5px;
  position: relative;
}

.socials{
  margin-right: 8px;
}

.copyright{
  color:azure;
  font-size:15px;
  margin-left:60px;
}
/* Окончание подвала */