body{
    background: linear-gradient(to bottom, white, #6495ed);
    margin: 20px;
}

.countries{
    display: flex;
    flex-flow: column wrap;
    margin-left: 100px;
}

.hide, .hide + label ~ div {
    display: none;
}

.hide + label,
.hide:checked + label {
    cursor: pointer;
    padding: 1em;
}

.hide:checked + label {
    border-bottom: 0;
}

.hide:checked + label + div {
    display: block;
    padding: 10px;
}

label{
    font: 1.17em oblique;
}

p{
    margin: 0 0 0 100px;
}

.exotic{
    font: 1.17em oblique;
    margin: 15px 0 0 20px;
}