body{
    background: linear-gradient(to bottom, white, #6495ed);
    margin: 20px;
}

.footer-menu{
    margin-top: 20px;
    padding: 1em 0;
}

.footer-container{
    align-items: center;
    display: inline;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.footer-menu ul li{
    display:inline;
}

.footer-menu ul li a{
    color:azure;
    font-size:20px;
    margin-left:20px;
    text-decoration:none;
}

.footer-menu ul li a:hover{
    color:darkblue;
}

.cont{
    color: azure;
}

.social-net{
    align-items: center;
    display: flex;
    justify-content: center;
}

.social-icon:hover{
    bottom: 5px;
    position: relative;
}

.socials{
    margin-right: 8px;
}

.copyright{
    color:azure;
    font-size:15px;
    margin-left:60px;
}