@font-face {
    font-family: Brygada_1918;
    src: url("../fonts/Brygada_1918/static/Brygada1918-Bold.ttf");
}

body{
    background: linear-gradient(to bottom, white, #6495ed);
    margin: 20px;
}

#header{
    height: 200px;
    width: 100%;
}

.logo-and-title{
    display: inline;
}

.title{
    color: #6495ed;
    font: 30px Brygada_1918, serif;
    padding-top: 50px;
}

.logo{
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
}

.pages{
    margin-top: 60px;
}

.page{
    display: inline;
}

.page a{
    color: #6495ed;
    font: italic 20px Montserrat, sans-serif;
    margin-right: 50px;
    text-decoration:none;
    width: 50px;
}

.page a:hover{
    color: darkblue;
}