/* Адаптивность на 600px и меньше */
@media (max-width: 600px) {
  /* Шапка */
  #header{
    height: 130px;
  }

  .logo{
    width: 120px;
    height: 120px;
  }

  .title-and-pages{
    margin: 0;
  }

  .title{
    font-size: medium;
    margin-bottom: 0;
    padding: 0;
  }

  .pages{
    display: flex;
    flex-direction: column;
  }

  .page{
    margin: 0;
  }

  .page a{
    font-size: small;
  }


  /* Для страницы index */
  .description{
    margin: 0;
    max-width: 100%;
  }

  .country{
    display: flex;
    margin: 30px 0 0 0;
  }

  .footer-container{
    justify-content: flex-end;
  }


  /* Для страницы about_us */
  .info-one{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  .info-exp{
    width: 100%;
  }

  .info-two{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
  }

  .info-jour{
    width: 100%;
  }


  /* Для страницы catalog */
  .countries{
    margin: 0 0 15px 0;
  }
}


/* Адаптивность на 1400px и больше */
@media (min-width: 1400px) {

  /* Для страницы index*/
  .text-ind{
    width: 70%;
  }
  .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }


  /* Для страницы catalog */
  .countries{
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 15px 15px;
    justify-content: center;
  }

  .exotic{
    margin: 18px 0 0 20px;
  }
}