.footer-menu{
  display: flex;
  justify-content: center;
}

.footer-container{
  align-items: center;
  display: inline;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.act-pages{
  padding-inline-start: 0;
}

.footer-menu ul li{
  display:inline;
}

.footer-menu ul li a{
  color:azure;
  font-size:20px;
  margin-left:20px;
  text-decoration:none;
}

.footer-menu ul li a:hover{
  color:darkblue;
}

.cont{
  color: azure;
}

.social-net{
  align-items: center;
  display: flex;
  justify-content: center;
}

.social-icon:hover{
  bottom: 5px;
  position: relative;
}

.socials{
  margin-right: 8px;
}

.copyright{
  color:azure;
  font-size:15px;
}