@font-face {
  font-family: Brygada_1918;
  src: url("../fonts/Brygada_1918/static/Brygada1918-Bold.ttf");
}

#header{
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
}

.logotype{
  display: inline;
}

.logo{
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
}

.title-and-pages{
  flex-direction: column;
  margin: 0 0 0 15px;
}

.title{
  color: #6495ed;
  font: 30px Brygada_1918, serif;
  padding-top: 30px;
  padding-bottom: 10px;
}

.page{
  display: inline;
}

.page a{
  color: #6495ed;
  font: italic 20px Montserrat, sans-serif;
  margin-right: 50px;
  text-decoration:none;
  width: 50px;
}

.page a:hover{
  color: darkblue;
}